    <app-menu></app-menu>
    <div class="jumbotron">
        <nav aria-label="breadcrumb" class="mb-4">
            <a routerLink="/user/list" class="breadcrumb-item active" aria-current="page">
                &#8592; Go to User List</a>
            </nav>
            <h1>Welcome, {{user.firstName}}!</h1>
            <h2>Here's your info:</h2>
            <span *ngIf="user">
            <span class="lead">
            <p>
                <strong>User Name </strong>{{ user.userName }}
            </p>
            <p>
                <strong>First Name </strong>{{ user.firstName }}
            </p>
            <p>
                <strong>Last Name </strong>{{ user.lastName }}
            </p>
            <p>
                <strong>Phone </strong>{{ user.phoneNumber }}
            </p>
            <p>
                <strong>Email </strong>{{ user.email}}
            </p>
            <p>
                <strong>Reviewer </strong>{{ user.reviewer ? "Yes" : "No"}}
            </p>
            <p>
                <strong>Admin </strong>{{ user.admin ? "Yes" : "No"}}
            </p>
        </span>
        </span>
    </div>