<app-menu></app-menu>
<div class="jumbotron">
    <nav aria-label="breadcrumb" class="mb-4">
        <a routerLink="/product/list" class="breadcrumb-item active" aria-current="page">
            &#8592; Return to list</a>
    </nav>
    <h1>{{title}}</h1>
    <span *ngIf="product">
        <span class="lead">
            <p>
                <strong>ID </strong>{{ product.id }}
            </p>
            <p>
                <strong>Vendor </strong>{{ product.vendor.name }}
            </p>
            <p>
                <strong>Part Number </strong>{{ product.partNumber }}
            </p>
            <p>
                <strong>Name </strong>{{ product.name }}
            </p>
            <p>
                <strong>Price </strong>{{ product.price }}
            </p>
            <p>
                <strong>Unit </strong>{{ product.unit }}
            </p>
        </span>
    <span>
        <span><a routerLink="/product/edit/{{product.id}}" class="btn btn-sm btn-warning">Edit</a></span>
        <span> | <button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></span>
    </span>

