<app-menu></app-menu>
<span class="page-title font-weight-bold font-italic">[{{title}}]</span>
<span> | <a routerLink="/request/list">Return to list</a></span>
<p *ngIf='!request'>Loading...</p>
<div *ngIf='request'>
    <main class="single">
        <table class="table table-sm">

            <tr>
                <td>
                    User:
                </td>
                <td>
                    <input [(ngModel)]="request.user.userName" class="rounded" disabled>

                </td>
            </tr>
            <tr>
                <td>
                    Phone Number:
                </td>
                <td>
                    <input [(ngModel)]="request.user.phoneNumber" class="rounded" disabled>
                </td>
            </tr>
            <tr>
                <td>
                    Email
                </td>
                <td>
                    <input [(ngModel)]="request.user.email" class="rounded" disabled>
                </td>
            </tr>
            <tr>
                <td>
                    Description:
                </td>
                <td>
                    <input [(ngModel)]="request.description" class="rounded" type="text" required>*Required
                </td>
            </tr>
            <tr>
                <td>
                    Justification:
                </td>
                <td>
                    <input [(ngModel)]="request.justification" class="rounded" type="text" required>*Required
                </td>
            </tr>
            <tr>
                <td>
                    Date needed:
                </td>
                <td>
                    <input [(ngModel)]="request.dateNeeded" class="rounded" type="text" type="date"
                    required>*Required
                </td>
            </tr>
            <tr>
                <td>
                    Delivery Method:
                </td>
                <td>
                    <input [(ngModel)]="request.deliveryMode" class="rounded" type="text" required>*Required
                </td>
            </tr>
        </table>
    </main>
    <table class="table table-sm">
        <tr>
            <td>
                Product:
            </td>
            <td>
                <select [(ngModel)]="lineItem.product" class="rounded">
                    <option *ngFor = "let product of products" [ngValue]='product'>{{product.name}} | {{product.vendor.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Quantity:
            </td>
            <td>
                <input [(ngModel)]="lineItem.quantity" class="rounded" type="number">
            </td>
        </tr>
    </table>
        <tr>
            <td>
                <span *ngIf='!validated' style="color:red"><b>* Please enter the Required Fields</b></span>
            </td>
        </tr>
        <span><button (click)="save()" class="btn btn-sm btn-primary">{{submitBtnTitle}}</button></span> 
       