<app-menu></app-menu>
<div class="jumbotron">
  <nav aria-label="breadcrumb" class="mb-4">
    <a routerLink="/request/list"
      class="breadcrumb-item active"
      aria-current="page">
      &#8592; Return to list</a>
  </nav>
  <h1>Request Details</h1>
  <span *ngIf="request">
    <span class="lead">
      <p><strong>ID </strong>{{ request.id }}</p>
      <p *ngIf="request.user"><strong>User </strong> {{request.user.firstName}} {{request.user.lastName}}</p>
      <p><strong>Description </strong>{{ request.description}}</p>
      <p><strong>Justification </strong>{{ request.justification }}</p>
      <p><strong>Date Needed </strong>{{ request.dateNeeded }}</p>
      <p><strong>Delivery Mode </strong>{{ request.deliveryMode }}</p>
      <strong>Status </strong><strong class="{{ request.status}}">{{ request.status }}</strong>
      <p></p>
      <p><strong>submitted Date </strong>{{ request.submittedDate }}</p>
      <p *ngIf="request.reasonForRejection"><strong>Reason for Rejection </strong>{{ request.reasonForRejection}}</p>
    </span>
    <span>
      <span>
        <a routerLink="/request/edit/{{ request.id }}" class="btn btn-sm btn-warning">Edit</a>
        </span>
        <span>
        |
        <button (click)="delete()" class="btn btn-sm btn-danger">Delete</button>
      </span>
    </span>
  </span>
</div>